.list-group {
	margin-top: 40px;
}

.container {
	width: 100%;
	margin: 0 auto;
}

body {
	padding: none;
	margin-left: none;
	margin-bottom: 80px;

}

.navbar-fixed-bottom {
	background-color: #f5f5f5;
}

.endnote {
	margin-top: 0.3%;
	text-align: center;
}

.inquiry {
	text-align: right;
}

.btn:hover {
	background-color: red;
	color: white;
}